:root {
  --background: #d9dea5;
  --foreground: #171717;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}
